@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto</h1>
    <a class="btn btn-outline-primary" asp-controller="Rapporto" asp-action="Index" type="button">Inserisci rapporto</a>
</div>
